{
  "block_store_path": "/tmp/block_store",
  "torii_port": 50051,
  "internal_port": 10001,
  "pg_opt": "dbname=iroha1 host=irpsql port=5432 user=postgres password=postgres",
  "max_rounds_delay": 3000,
  "max_proposal_size": 10000,
  "proposal_delay": 5000,
  "vote_delay": 1000,
  "mst_enable": false,
  "mst_expiration_time" : 1440,
  "proposal_creation_timeout": 3000,
  "metrics": "0.0.0.0:5551",
  "log": {
    "level": "trace",
    "patterns": {
      "trace": "[%Y-%m-%d %H:%M:%S.%F][th:%t][%l] %n %v"
    }
  }
}
